body{
    align-items: center;
    text-align: center;
    background-color: rgb(238, 238, 238);
    font-size: 26px;
}
img{
    width: 350px;
    height: 250px;
}
.startimg{
    padding-top: 18px;
    padding-bottom: 8px;
    
}
@media screen and (max-width: 950px)
{
    .startimg{
        flex-wrap: wrap;
    }
}
